<head>
  <title>Scroll Debounce</title>
</head>

<body>
  <h1 id='top'>Scroll debounce</h1>
  <div>
    <section><span>👀</span></section>
  </div>
  <h1><a href='#top'>Top</a></h1>
  <style>
    body { margin: 0; }
    * { box-sizing: border-box; }
    h1,
    section {
      font-size: 4rem;
      padding: 2rem 1rem;
    }
    section {
      transition: background 1200ms 400ms ease;
      transform: translateZ(0);
    }
    section span {
      display: inline-block;
      transition: all 400ms 200ms ease;
      transform: translateX(100%) translateZ(0);
      opacity: 0;
    }
    .in-view span {
      transform: translateX(0) translateZ(0);
      opacity: 1;
    }
    .in-view {
      background: blue;
    }
  </style>
  <script src='./build.js'></script>
</body>

